.agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50%;
    height: 1702px;
    text-align: center;
    background-color: #ECEBEB;
  }
  
  .agenda h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .agenda p {
    font-size: 1.2rem;
    color: #555;
  }
  